<!-- layout 1 -->
<%- include('layout1'); -%>

<!-- add CSS here -->

<!-- layout 2 -->
<%- include('layout2'); -%>

<!-- START BODY -->

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">



    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content" style="padding-top: 0">

        <div class="row">
            <div class="col-xl-4">
                <p>Test layout ne.</p>
            </div>
            <div class="col-xl-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Nibh ipsum consequat nisl vel pretium
                    lectus quam. Neque gravida in fermentum et sollicitudin. Vitae semper quis lectus
                    nulla at volutpat diam ut venenatis. Tortor at auctor urna nunc id cursus. Convallis
                    aenean et tortor at risus viverra adipiscing at. Enim diam vulputate ut pharetra.
                    Vitae proin sagittis nisl rhoncus. Morbi non arcu risus quis varius. Tincidunt arcu
                    non sodales neque sodales ut. Gravida quis blandit turpis cursus in hac habitasse
                    platea. Cursus metus aliquam eleifend mi in nulla posuere. Mattis vulputate enim
                    nulla aliquet. Risus in hendrerit gravida rutrum quisque non tellus. Sed elementum
                    tempus egestas sed. Tristique nulla aliquet enim tortor. Orci sagittis eu volutpat
                    odio.</p>
            </div>
            <div class="col-xl-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Quis hendrerit dolor magna eget est.
                    Quis auctor elit sed vulputate mi sit amet. Nunc mi ipsum faucibus vitae aliquet nec
                    ullamcorper sit. Egestas diam in arcu cursus euismod quis. Nunc id cursus metus
                    aliquam eleifend mi in nulla posuere. Pharetra convallis posuere morbi leo urna
                    molestie. Eget nunc lobortis mattis aliquam. Dictum varius duis at consectetur lorem
                    donec massa. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Eget
                    dolor morbi non arcu risus. Consequat mauris nunc congue nisi vitae suscipit. Risus
                    viverra adipiscing at in tellus. Ut tristique et egestas quis ipsum suspendisse
                    ultrices gravida dictum. Neque ornare aenean euismod elementum nisi quis eleifend
                    quam. Tellus molestie nunc non blandit massa enim nec dui.</p>
            </div>
        </div>

    </div>

    <!-- end:: Content -->
</div>

<!-- END BODY -->

<!-- layout 3 -->
<%- include('layout3'); -%>

<!-- add JAVASCRIPT here -->
<script>
    Swal.fire(
        'Xóa dữ liệu hoàn tất!',
        'Bạn có thể thêm dữ liệu lại bằng cách import bằng file excel!',
        'success'
    )
</script>

<!-- end view -->
</body>

</html>