<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->

<head>
    <meta charset="utf-8" />
    <title>ExamReg | Dashboard</title>
    <meta name="description" content="Updates and statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        html {
            font-family: 'Roboto', sans-serif;
        }
    </style>

    <!--end::Fonts -->

    <!--begin::Page Vendors Styles(used by this page) -->
    <!-- <link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" /> -->

    <!--RTL version:<link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

    <!--end::Page Vendors Styles -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="assets/demo/default/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

    <!--end::Global Theme Styles -->

    <!--begin::Layout Skins(used by all pages) -->
    <link href="/assets/demo/default/skins/header/base/light.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="assets/demo/default/skins/header/base/light.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="/assets/demo/default/skins/header/menu/light.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="assets/demo/default/skins/header/menu/light.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="/assets/demo/default/skins/brand/dark.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="assets/demo/default/skins/brand/dark.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="/assets/demo/default/skins/aside/dark.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="assets/demo/default/skins/aside/dark.rtl.css" rel="stylesheet" type="text/css" />-->

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="/assets/media/logos/favicon.png" />